/* styles3.css */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(84, 245, 84) 20%, white 70%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 1800px;
    height: 850px;
}

header,
footer {
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #45a049;
}

#logo {
    position: absolute;
    top: 5px;
    right: -100px;
    transform: scale(0.5); 
    cursor: pointer;
}

#content {
    text-align: center;
    margin-bottom: auto;
    position: relative;
}

#controls {
    position: absolute;
    top: 50%;
    right: 250px;
    transform: translateY(-50%);
    text-align: center;
}

#controls > div {
    margin-bottom: 10px;
}

#controls button {
    margin: 0 0px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
}

#controls button:hover {
    background-color: #4CAF50;
}

#resetHighScoreBtn,
#newGameBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s;
    cursor: pointer;
}

#resetHighScoreBtn:hover,
#newGameBtn:hover {
    background-color: #4CAF50;
}

@media only screen and (max-width: 600px) {
    header,
    footer {
        text-align: center;
    }
}

#game-section {
    position: relative;
}

canvas {
    display: block;
    margin: 0 auto;
}

#instructions {
    position: fixed;
    bottom: 385px;
    left: 350px;
    transform: translateX(-50%);
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s; 
    max-width: 400px;
    text-align: center;
    z-index: 999;
}

#instructions h2 {
    margin-top: 0;
}

#instructions p {
    margin-bottom: 10px;
}
